body{
    color: #000; 
    background-color: #d1f1ff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239b8cb4' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");;   
}

.formulario{
    width: 600px;
    height: 810px;
    background-color:cornflowerblue;
    padding: 25px;
    margin: auto;
    border-radius: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 7px 27px 27px #696969;
}

.formulario h3{
    font-size: 26px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 4px;
}
.formulario p{
    font-size: 18px;
     margin-bottom: 10px;
     margin-top: 11px;
     text-align:start;
}
.elementos{
    width: 300px;
    background-color: #beffe5;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #6495ED;
    margin-bottom: 15px;
    font-size: 15px;
}

.lista{
    width: 200px;
    background-color: #beffe5;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid #6495ED;
    margin-bottom: 15px;
    font-size: 15px;
}

.boton{
    display: inline-flex;
    width: 120px;
    background-color: lightslategrey;
    color: white;
    margin: 30px 16px 16px 230px;
    border: none;
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    transition: .5s ease all;
    border-radius: 5px;   
}
.boton:hover{
background-color:rebeccapurple;
}

.terminos{
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}